USE [DESCOMPLICARROS]
GO
ALTER TABLE [dbo].[VEICULOS] DROP CONSTRAINT [FK_Veiculos_Usuarios2]
GO
ALTER TABLE [dbo].[VEICULOS] DROP CONSTRAINT [FK_Veiculos_Usuarios1]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [FK_Usuarios_PerfilUsuarios]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] DROP CONSTRAINT [FK_TipoCambios_Usuarios2]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] DROP CONSTRAINT [FK_TipoCambios_Usuarios1]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [FK_PerfilUsuarios_Usuarios2]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [FK_PerfilUsuarios_Usuarios1]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [FK_MarcasMontadoras_Usuarios2]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [FK_MarcasMontadoras_Usuarios1]
GO
ALTER TABLE [dbo].[MODELOS] DROP CONSTRAINT [FK_Modelos_Usuarios2]
GO
ALTER TABLE [dbo].[MODELOS] DROP CONSTRAINT [FK_Modelos_Usuarios1]
GO
ALTER TABLE [dbo].[CARROCERIAS] DROP CONSTRAINT [FK_Carrocerias_Usuarios2]
GO
ALTER TABLE [dbo].[CARROCERIAS] DROP CONSTRAINT [FK_Carrocerias_Usuarios1]
GO
ALTER TABLE [dbo].[VEICULOS] DROP CONSTRAINT [DF__VEICULOS__DtCada__5EBF139D]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__DtCada__4E88ABD4]
GO
ALTER TABLE [dbo].[USUARIOS] DROP CONSTRAINT [DF__USUARIOS__Ativo__4D94879B]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] DROP CONSTRAINT [DF__TIPOCAMBI__DtCad__5AEE82B9]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] DROP CONSTRAINT [DF__TIPOCAMBI__Ativo__59FA5E80]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [DF__PERFILUSU__DtCad__4AB81AF0]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] DROP CONSTRAINT [DF__PERFILUSU__Ativo__49C3F6B7]
GO
ALTER TABLE [dbo].[MODELOS] DROP CONSTRAINT [DF__MODELOS__DtCadas__628FA481]
GO
ALTER TABLE [dbo].[MODELOS] DROP CONSTRAINT [DF__MODELOS__Ativo__619B8048]
GO
ALTER TABLE [dbo].[MARCAS_MONTADORAS] DROP CONSTRAINT [DF__MARCAS_MO__DtCad__534D60F1]
GO
ALTER TABLE [dbo].[MARCAS_MONTADORAS] DROP CONSTRAINT [DF__MARCAS_MO__Ativo__52593CB8]
GO
ALTER TABLE [dbo].[CARROCERIAS] DROP CONSTRAINT [DF__CARROCERI__DtCad__571DF1D5]
GO
ALTER TABLE [dbo].[CARROCERIAS] DROP CONSTRAINT [DF__CARROCERI__Ativo__5629CD9C]
GO
/****** Object:  Table [dbo].[VEICULOS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VEICULOS]') AND type in (N'U'))
DROP TABLE [dbo].[VEICULOS]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIOS]
GO
/****** Object:  Table [dbo].[TIPOCAMBIOS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPOCAMBIOS]') AND type in (N'U'))
DROP TABLE [dbo].[TIPOCAMBIOS]
GO
/****** Object:  Table [dbo].[PERFILUSUARIOS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PERFILUSUARIOS]') AND type in (N'U'))
DROP TABLE [dbo].[PERFILUSUARIOS]
GO
/****** Object:  Table [dbo].[MODELOS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MODELOS]') AND type in (N'U'))
DROP TABLE [dbo].[MODELOS]
GO
/****** Object:  Table [dbo].[MARCAS_MONTADORAS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MARCAS_MONTADORAS]') AND type in (N'U'))
DROP TABLE [dbo].[MARCAS_MONTADORAS]
GO
/****** Object:  Table [dbo].[CARROCERIAS]    Script Date: 03/01/2024 08:43:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CARROCERIAS]') AND type in (N'U'))
DROP TABLE [dbo].[CARROCERIAS]
GO
USE [master]
GO
/****** Object:  Database [DESCOMPLICARROS]    Script Date: 03/01/2024 08:43:25 ******/
DROP DATABASE [DESCOMPLICARROS]
GO
/****** Object:  Database [DESCOMPLICARROS]    Script Date: 03/01/2024 08:43:25 ******/
CREATE DATABASE [DESCOMPLICARROS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DESCOMPLICARROS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DESCOMPLICARROS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DESCOMPLICARROS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DESCOMPLICARROS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DESCOMPLICARROS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DESCOMPLICARROS]
GO
/****** Object:  Table [dbo].[CARROCERIAS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARROCERIAS](
	[IdCarroceria] [int] IDENTITY(1,1) NOT NULL,
	[NomeCarroceria] [varchar](200) NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarroceria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS_MONTADORAS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS_MONTADORAS](
	[IdMarcaMontadora] [int] IDENTITY(1,1) NOT NULL,
	[NomeMarcaMontadora] [varchar](200) NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarcaMontadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELOS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELOS](
	[IdModelo] [int] IDENTITY(1,1) NOT NULL,
	[IdMarcaMontadora] [int] NOT NULL,
	[NomeModelo] [varchar](200) NOT NULL,
	[IdCarroceria] [int] NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILUSUARIOS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILUSUARIOS](
	[IdPerfilUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NomePerfilUsuario] [varchar](200) NOT NULL,
	[DescricaoPerfilUsuario] [varchar](255) NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfilUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOCAMBIOS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOCAMBIOS](
	[IdTipoCambio] [int] IDENTITY(1,1) NOT NULL,
	[NomeTipoCambio] [varchar](200) NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdPerfilUsuario] [int] NOT NULL,
	[NomeUsuario] [varchar](200) NOT NULL,
	[CpfUsuario] [varchar](11) NOT NULL,
	[DtNascimentoUsuario] [datetime] NOT NULL,
	[EmailUsuario] [varchar](200) NOT NULL,
	[Senha] [varchar](30) NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEICULOS]    Script Date: 03/01/2024 08:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEICULOS](
	[IdVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdMarcaMontadora] [int] NOT NULL,
	[IdModelo] [int] NOT NULL,
	[IdCarroceria] [int] NOT NULL,
	[IdTipoCambio] [int] NOT NULL,
	[AnoInicioVeiculo] [int] NOT NULL,
	[AnoFimVeiculo] [int] NOT NULL,
	[IdUsuarioCadastro] [int] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
	[IdUsuarioUltimaAtualizacao] [int] NULL,
	[DtUltimaAtualizacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVeiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CamposUnicos] UNIQUE NONCLUSTERED 
(
	[IdMarcaMontadora] ASC,
	[IdModelo] ASC,
	[IdCarroceria] ASC,
	[IdTipoCambio] ASC,
	[AnoInicioVeiculo] ASC,
	[AnoFimVeiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARROCERIAS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[CARROCERIAS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[MARCAS_MONTADORAS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[MARCAS_MONTADORAS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[MODELOS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[MODELOS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((0)) FOR [Ativo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[VEICULOS] ADD  DEFAULT (getdate()) FOR [DtCadastro]
GO
ALTER TABLE [dbo].[CARROCERIAS]  WITH CHECK ADD  CONSTRAINT [FK_Carrocerias_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[CARROCERIAS] CHECK CONSTRAINT [FK_Carrocerias_Usuarios1]
GO
ALTER TABLE [dbo].[CARROCERIAS]  WITH CHECK ADD  CONSTRAINT [FK_Carrocerias_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[CARROCERIAS] CHECK CONSTRAINT [FK_Carrocerias_Usuarios2]
GO
ALTER TABLE [dbo].[MODELOS]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[MODELOS] CHECK CONSTRAINT [FK_Modelos_Usuarios1]
GO
ALTER TABLE [dbo].[MODELOS]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[MODELOS] CHECK CONSTRAINT [FK_Modelos_Usuarios2]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_MarcasMontadoras_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] CHECK CONSTRAINT [FK_MarcasMontadoras_Usuarios1]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_MarcasMontadoras_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] CHECK CONSTRAINT [FK_MarcasMontadoras_Usuarios2]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_PerfilUsuarios_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] CHECK CONSTRAINT [FK_PerfilUsuarios_Usuarios1]
GO
ALTER TABLE [dbo].[PERFILUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_PerfilUsuarios_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[PERFILUSUARIOS] CHECK CONSTRAINT [FK_PerfilUsuarios_Usuarios2]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_TipoCambios_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] CHECK CONSTRAINT [FK_TipoCambios_Usuarios1]
GO
ALTER TABLE [dbo].[TIPOCAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_TipoCambios_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[TIPOCAMBIOS] CHECK CONSTRAINT [FK_TipoCambios_Usuarios2]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_PerfilUsuarios] FOREIGN KEY([IdPerfilUsuario])
REFERENCES [dbo].[PERFILUSUARIOS] ([IdPerfilUsuario])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_Usuarios_PerfilUsuarios]
GO
ALTER TABLE [dbo].[VEICULOS]  WITH CHECK ADD  CONSTRAINT [FK_Veiculos_Usuarios1] FOREIGN KEY([IdUsuarioCadastro])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[VEICULOS] CHECK CONSTRAINT [FK_Veiculos_Usuarios1]
GO
ALTER TABLE [dbo].[VEICULOS]  WITH CHECK ADD  CONSTRAINT [FK_Veiculos_Usuarios2] FOREIGN KEY([IdUsuarioUltimaAtualizacao])
REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[VEICULOS] CHECK CONSTRAINT [FK_Veiculos_Usuarios2]
GO
USE [master]
GO
